<ul class="nav nav-pills">
    <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link" aria-current="page">Главная</NavLink></li>
    <li class="nav-item"><NavLink href="/services" class="nav-link">Сервисы</NavLink></li>
    <li class="nav-item"><NavLink href="/data" class="nav-link">Данные</NavLink></li>
    <li class="nav-item"><NavLink href="/about" class="nav-link">О программе</NavLink></li>
</ul>