<ul class="nav nav-pills">
    <li class="nav-item"><NavLink href="/" Match="NavLinkMatch.All" class="nav-link" aria-current="page">Главная</NavLink></li>
    <li class="nav-item"><NavLink href="/datasource" class="nav-link">Источники</NavLink></li>
    <li class="nav-item"><NavLink href="/datavalues" class="nav-link">Данные</NavLink></li>
    <li class="nav-item"><NavLink href="/about" class="nav-link">О программе</NavLink></li>
</ul>